*{
    font-family: 'VT323', monospace;
}
p{
    color: whitesmoke;
    font-size: 50px;
    
}
.menu-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
#div-spacebetween{
    height: 200px;
}
#start-container{
    position: relative;
    width: fit-content;
    border-radius: 20px;
    border: 6px white solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}